@import "tailwindcss";

@font-face {
    font-family: "kaushan";
    src: url("/font/KaushanScript-Regular.woff2");
}

@font-face {
    font-family: "dirty-brush";
    src: url("/font/Dirty\ Brush.woff2");
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}